<div class="card">
    <div class="card-icon">
        <span class="material-symbols-outlined" style="font-size: 2.5rem;">@Icon</span>
    </div>
    <div>
        <h3 class="card-title">@Title</h3>
        <p class="card-description">@Description</p>
    </div>
</div>

@code {
    [Parameter]
    public string Icon { get; set; } = "";

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string Description { get; set; } = "";
}
