name: Build and deploy Blazor WebAssembly to Azure Static Web Apps (OIDC)

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches: [main]

permissions:
  id-token: write
  contents: read

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Publish Blazor WebAssembly
      run: dotnet publish src/FWW.Site.UI/FWW.Site.UI.csproj -c Release -o build

    - name: Login to Azure using OIDC
      uses: azure/login@v1
      with:
        allow-no-subscriptions: true

    - name: Deploy to Static Web Apps (OIDC)
      uses: Azure/static-web-apps-deploy@v1
      with:
        action: upload
        app_location: build/wwwroot
        api_location: ""
        output_location: ""
        azure_access_token: ${{ env.AZURE_ACCESS_TOKEN }}
